@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: rgb(255, 255, 255);
  --color-text: #1f2937;
  --color-bg-settings: #f2f4f7;
  /* --color-bg-lang-tab: #8c8b8b; */
  --color-bg-main-btn: oklch(62.3% 0.214 259.815);
  --color-bg-header: rgba(255, 255, 255, 0.7);

  --header-h: 5rem;
  --header-padding-x: 0.75rem;
  --header-padding-y: 4rem;
  --gap-header-main: 2rem;
  --settings-icon-size: 1.5rem;
  --settings-menu-w: 18.75rem;

  --container-w-main: 82.5rem;
  --main-section-py: 3rem;

  --viewmode-switch-icon-size: 1.25rem;
  --viewmode-switch-slider-w: 3rem;
  --viewmode-switch-slider-h: 1.25rem;
  --viewmode-switch-dot-w: 1.75rem;

  --lang-swtich-tabs-w: 7.5rem;
  --lang-swtich-tabs-h: 2.5rem;
  --lang-swtich-tabs-fw: 0.875rem;
  --lang-swtich-tabs-text: #9ca3af;
  --lang-swtich-tabs-text-active: #ffffff;
}

html.dark {
  --color-bg: rgb(17, 24, 39);
  --color-bg-header: rgba(17, 24, 39, 0.7);
  --color-text: #f9fafb;
  --color-bg-settings: #525f7f;
  --color-bg-lang-tab: #ffffff;
  --lang-swtich-tabs-text: #9ca3af;
}

html {
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* header {

} */

main {
  width: 100%;
  padding-top: var(--gap-header-main);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--container-w-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
}

.main-section {
  padding: var(--main-section-py) 0;
}
